@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Syne:wght@400;500;600;700;800&display=swap');

body{
    background-color: #7DACB3;
    background-image: url("pictures/");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6em;
    margin: auto;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    
}


.left-logo{
    left: 20px;
    overflow: hidden;
    float: left;
}

.left-logo img {
    float: left;
    height: 305px;
    margin-left: 63px;

}

.left-logo h1 {
    float: left;
    font-family: Syne;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 15%;
}

.first {
    width: 90%;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    
}

.first h1 {
    position: absolute;
    width: 869px;
    height: 121px;
    left: 185px;
    top: 233px;
    
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 144px;
    letter-spacing: 0.055em;
    
    
}

.first p {
    position: absolute;
    width: 792px;
    height: 406px;
    left: 137px;
    top: 418px;
    
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    
    color: #FFFFFF;
    
    
}

.first img {
    position: absolute;
    height: 50%;
    right: 5%;
    top: 35%;
    filter:invert();
}

.wave {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 85%;
    bottom: 0%;
}

.background {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 1080px;
    left: 0px;
    margin-top: 900px;
    background: #CCF9FF;
    padding-bottom: 10%;

}

.background h1 {
    position: absolute;
    width: 1191px;
    height: 187px;
    left: 365px;
    font-family: Syne;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 173px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #585858;


}
.box {
    margin-top: 25%;
    position: relative;
    float: left;
    width: 33.3%;
    border: 1px dotted #7fffd4;
    padding: 20px;
    box-sizing: border-box;
    
    background: #FFFFFF;
}

.box img{
    position: absolute;
    width: 168px;
    height: 168px;
    border-radius: 50%;
    margin-bottom: 20px;
    left: 38%;
    background: #C4C4C4;
}

.box-h1{
    margin-top: 30%;
    text-align: center;
    font-family: Syne;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.1em;

    color: #000000;


}
.box p{
    font-family: Syne;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #000000;
}

.background2 {
    position: absolute;
    width: 100%;
    height: 1075px;
    left: 0px;
    top: 2149px;
    background: #7DACB3;
}

.background2 h1 {
    margin-top: 15%;
    text-align: center;
    font-family: Syne;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 173px;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
}

.background2 p{
    text-align: center;
    font-family: Syne;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}